.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #161415;
    margin-top: 20rem;
  }
  form {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
    color: white;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: white;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #11ABB0;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #313131;;
  }
  
  form#login-form {
    display: none;
  }